{%extends baseview.liquid%}
{%assign title="Admin"%}
{%block content%}
  <h1>Welcome to the Admin Page! {{user.username}}</h1>
  <form method="post">
    <input type="text" name="page" placeholder="I want to go to...">
    <input type="submit">
  </form>
{%endblock%}
