<!DOCTYPE html>
<html>
  <head>
      <link type="text/css" rel="stylesheet" href="/css/main.css">
      <title>
        {{title}}
      </title>
  </head>
  <body>
    <div id="header">
        <a href="/"><img src="/img/home.png" alt="home" width="50" height="50"></a>
    </div>
    <div class="container">
      {%block content%}
      {%endblock%}
    </div>
  </body>
</html>
