<!DOCTYPE html>
<html>
  <head>
      <title>
        Home {{b|capitalize}}
      </title>
  </head>
  <body>
    <form method="post">
      <h1>Get to the admin page</h1>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>
