{%extends baseview.liquid%}

{%assign title="Posts"%}

{%block head%}
  <script src="/js/allposts.js"></script>
{%endblock head%}

{%block content%}
  <input type="hidden" id="new_post_title" class="post-field" placeholder="title"/>
  <input type="hidden" id="new_post_content" class="post-field" placeholder="content"/>
  <button id="write_new_post">New Post</button>
  {%for post in posts%}
    <div class="post-container">
      <div class="post-container-header">
        <div class="post-container-header-title">
          <a class="tiny-link" href="/posts?id={{post.id}}">{{post.title}}</a>
        </div>
      </div>

      <div class="post-container-body">
        {{post.content}}
      </div>
    </div>
  {%endfor%}
{%endblock%}
