.tiny-link {
  text-decoration: none;
  color: darkgray;
}

.tiny-link:hover {
  cursor: pointer;
}

.container {
  padding: 5%;
}
#header {
  background-color: #E8E8E8;
}

.post-container {
  padding: 10px;
  text-align: center;
}

.post-container * {
  margin: 10px;
}

.post-container-header {
  font-weight: bold;
  font-size: 2.5em;
  font-family: fantasy;
  text-align: center;
  border-bottom: solid 1px #909090;
}

.post-container-header-title {
  max-width: auto;
}
